* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EBECF0;  
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.conteiner {
  text-align: center;
  margin-top: 0px;
  font-weight: 900;
  font-size: 36px;
  }

.sublinhado {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-top: 10px;
  }

  .text {
    text-align: center;
    margin-top: 30px;
  }

  .centerimg {
    margin-top: 40px;
    image-rendering: auto;
    max-width: 100%;
    margin-left: 30%;
  }

  .img2 {
    max-width: 80px;
    max-height: 80px;
    margin-left: 400px;
    z-index: 1;
    display: block;
    position: relative;
  }

  .imgelinha {
    position: relative;
    width: 200%;
  }

  .linha {
    position: absolute;
    width: 100%;
    border-top: 2px solid #545357;
    top: 50%;
    transform: translate(-50%);
    z-index: 0;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: black;
    list-style-type: none;
    margin-left: 350px;
    }

  .img3 {
    display: flex;
    justify-content:space-evenly;
    margin-left: 100px;
  }